body
    p
        a
            img#logo_img(src='/images/aao_logo.png' alt='Australian Art Orchestra')
    
        div(align='center')
            button#createButton(type='button') Create NFT
        div(align='center')
            button#transferButton(type='button') Transfer NFT

        script(src='/javascripts/interface.js')
        script(src='/javascripts/myAlgo.js' type='module')

        //- script(src='/javascripts/test.js' type='module')
        //- script(src="/../../node_modules/algosdk/dist/browser/algosdk.min.js")
    hr  
    p#home_text
        | The Australian Art Orchestra is collaborating with the University of
        | Melbourne, School of Computing and Information Systems, offering for the
        | first time a non-fungible token (NFT) collectible to audiences as part
        | of &apos;1988&apos; an immersive audio-visual performance featuring Vietnamese
        | virtuosi Dung Nguyen and Minh Ha Patmore, that will be premiered at The
        | Substation on June 16.
    p#home_text
        | To better understand how NFTs, and the blockchain more generally, can
        | support artists, 50 NFTs have been minted on the Algorand blockchain and
        | will be offered for free to 50 curious audience members as part of a
        | pre-sale ticket offer.
    p#home_text
        | Founded in 2017 by MIT Professor Silvio Micali, Algorand is more energy
        | efficient than other blockchains because of the way transactions are
        | validated (Pure Proof of Stake). And even the small carbon footprint it
        | has is offset in partnership with ClimateTrade.
    p#home_text
        | On the day of the performance, audience members will receive an e-mail
        | notification with details of how to view their NFT, which will consist
        | of a one-off audiovisual piece created by AAO Artistic Director, Peter
        | Knight, and featured performer, Minh Ha Patmore. This video will not be
        | available on any other platforms.