head
    title=title 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' type='image/x-icon' href='https://images.squarespace-cdn.com/content/v1/53754972e4b000acb0692aca/97f2759a-91e5-447d-8ece-7b72ebf2ae92/ke17ZwdGBToddI8pDm48kLpFYmOYRRFHobSP5rXcb85Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVHnhddNgNSLmnwheIP_7HQ4p5fnN7nAa8Q39YtPl829-9y480UlKOY0DP3Mqxn-Omk/favicon.ico?format=100w')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
    // JQuery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript')
    // CSS Stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')